#saved_notes {
    font-size: large;
    display: flexbox;
    width: fit-content;
    height: fit-content;
}

#note_container {
    display: block;
    width: fit-content;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

.ge_edit {grid-area: edit;}
.ge_delete { grid-area: delete;}
.ge_title { grid-area: title; }
.ge_date { grid-area: date;}

.grid_container {
    width: 60vw;
    display: grid;
    grid-template-areas: ' delete edit title title date date';
    background: transparent;
}

.saved_note {
    display: flexbox;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

.content_box {
    background: transparent;
    overflow : auto;
    font: auto;
    width: 60vw;
    height: 30vh;
}