#saved_notes {
    font-size: large;
    display: flexbox;
    width: fit-content;
    height: fit-content;
}

#note_container {
    display: block;
    width: fit-content;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

.saved_note {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

.note {
    display: block;
    word-break:break-all;
    overflow-y: auto;
    width: 45vw;
    height: 20vh;
}

.delete_button {
    display: inline;
    width: 10vw;
    height: 20vh;
}